[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "public"]
	path = public
	url = git@github.com:panoskorovesis/panoskorovesis.github.io.git
